.range {
  display: flex;
  align-items: center;
}

.range__value, .slider {
  display: inline-block;
}

.range__value {
  width: 3em;
}

.range__value input {
  width: 70%;
}

.range__value-min {
  padding-right: 1em;
}

.range__value-max {
  text-align: right;
  padding-left: 1em;
}

.range__content {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 6em);
}

.range__line {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.range__area {
  position: absolute;
  top: -7px;
  height: 200%;
}

.range__area-min {
  left: 0;
}

.range__area-max {
  right: 0;  
}

.bullet {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
}

.bullet:hover {
  transform: scale(1.4);
  cursor: grab;
}

.bullet:active {
  cursor: grabbing;
}

.bullet-min {
  right: 0;
}

.bullet-max {
  left: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}