body, input {
  font-size: 16px;
  font-family: Helvetica;
}

.range {
  display: flex;
  align-items: center;
}

.range__value, .slider {
  display: inline-block;
}

.range__value {
  box-sizing: border-box;
  width: 5em;
}

.range__value input {
  width: 70%;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  padding: 0;
}

.range__value span {
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.range__value-min {
  padding-right: 1em;
}

.range__value-max {
  text-align: right;
  padding-left: 1em;
}

.range__content {
  display: inline-flex;
  align-items: center;
  width: calc(100% - 10em);
  height: 24px;
}

.range__line {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.range__area {
  position: absolute;
  top: -9px;
  height: 100%;
  min-width: 20px;
}

.range__area-min {
  left: 0;
}

.range__area-max {
  right: 0;  
}

.bullet {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}

/* When some bullet is on hover, this bullet has to be bigger and change cursor's type into draggable. */
.bullet:hover {
  transform: scale(1.4);
  cursor: grab;
}

/* Dragging a bullet turns cursor to dragging */
.bullet.bullet--draggable {
  transform: scale(1.4);
  cursor: grabbing;
}
.range__content.range__content--dragable {
  cursor: grabbing;
}

.bullet-min {
  right: 0;
}

.bullet-max {
  left: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
  padding: 0;
}